.popular > article {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2.5fr;
  margin-bottom: 20px;
}

.popular > article > img {
  height: 160px;
  width: 120px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.text-content {
  text-align: left;
}

.text-content > h2 {
  font-size: 40px;
  position: relative;
  top: -6px;
  margin: 0px;
  padding: 0px;
  color: hsl(233, 8%, 79%);
}

.text-content > h4 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 750;
}

.text-content > h4:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.text-content > p {
  color: hsl(236, 13%, 42%);
  font-weight: 600;
  font-size: 15px;
}

@media (min-width: 376px) {
  .popular {
    display: flex;
    gap: 25px;
    margin-bottom: 5%;
    align-items: center;
  }

  .popular > article > img {
    height: 110px;
    width: 90px;
    margin-top: -7px;
  }

  .popular > article {
    gap: 10px;
  }

  .text-content{
    margin: 0px;
    padding: 0px;
  }

  .text-content:not(:first-child){
    line-height: 20px;
  }

  .text-content > h2 {
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 600;
  }

  .text-content > h4 {
    font-size: 16px;
    margin-top: 0px;
    white-space: nowrap;
  }

  .text-content > p {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
  }
}
