.App {
  text-align: center;
}

body {
  overflow-x: hidden;
  padding: 0% 3%;
}

@media (min-width: 376px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    height: 80vh;
    column-gap: 30px;
  }

  .block_01{
    grid-area: 1 / 1 / 2 / 2
  }

  .block_02{
    grid-area: 1 / 2 / 2 / 3
  }

  .block_03{
    grid-area: 2 / 1 / 3 / 3
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
